{{ define "content" }}
<body>

    <header>
        <h1>Chat Web App</h1>
        <p>Your go-to platform for seamless communication</p>
    </header>
    
    <section class="tech-stack">
        <h2>Tech Stack</h2>
        <ul>
            <li><i class="fab fa-js"></i> JavaScript</li>
            <!-- <li><i class="fa-brands fa-golang"></i> Golang</li> -->
            <li><i class="fas fa-code"></i> Golang</li>
            <li><i class="fas fa-database"></i> MongoDB</li>
            <li><i class="fas fa-database"></i> PostgreSQL</li>
            <!-- Add more technologies as needed -->
        </ul>
    </section>
    
    <section class="cta">
        <p>Try it now :D</p>
        
        <a a href="#" onclick="setInnerContent('/chats');" id="join-chats-btn" class="button">Join a chatroom</a>
    </section>
    <div class="line"></div>
    <h4> <i class="fas fa-code-branch"></i> Source Code</h4>
    <p><a href="https://github.com/elizraa/go-web-chat">Source code on GitHub <i class="fab fa-github"></i> </a> </p>
</body>
{{ end }}